html{
	-ms-text-size-adjust:100%;
	-webkit-test-size-adjust:100%;
	height:100%;
}
body{
	margin:0;
	font:16px/1.5 sans-serif;
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	height:100%;
	font-size:.6rem;
	padding-top: .6rem;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul{
	margin:0;
	padding:0;
}
main,
li{
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-size: inherit;
}
strong{
	font-weight: bold;
}
a,
button{
	color:inherit;
	transition: .3s;
}
a{
	text-decoration: none; 
}
button{
	overflow: visible;
	border:0;
	font:inhert;
	-webkit-font-smoothing:inherit;
	letter-spacing: inherit;
	background: none;
	cursor: pointer;
}
::-moz-focus-inner{
	padding:0;
	border:0;
}
:focus{
	outline: 0;
}
img{
	max-width: 100%;
	height:auto;
	border:0;
}